* {
    margin: 0;
    padding: 0;
    font-family: "lora";
}

html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

#main {
    position: relative;
    overflow: hidden;
    background-color: #0b48ed;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 10vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#page1 nav img {
    width: 15%;
    margin-top: -50px;
    margin-left: -8vw;
}

#right-nav button {
    margin-top: 15px;
    margin-right: 3vw;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0b48ed;
    color: white;
    font-family: a;
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
}

#right-nav button:hover {
    background-color: white;
    color: #0b48ed;
    border: 1px solid #0b48ed;
    transition: all 0.5s ease;
    font-weight: 800;
}

#bottom-content {
    position: absolute;
    bottom: 13%;
    left: 5%;
    height: 40vh;
    width: 50vw;
}

#bottom-content h1 {
    font-size: 5.5vw;
    font-weight: 100;
    line-height: 1;
    color: white;
}

#bottom-content-two {
    height: 40%;
    width: 80%;
    position: absolute;
    bottom: 0%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom-content-two h3 {
    padding: 0px 30px;
    margin-left: -25px;
    font-size: 1.5vw;

}


#bottom-content-two button {
    padding: 10px 20px;
    border-radius: 50px;
    width: 9vw;
    border: none;
    background-color: #fff;
    color: #0b48ed;
    font-weight: 800;
    z-index: 1;
    cursor: pointer;
}

#bottom-content-two button:hover {
    background-color: #2b5fee;
    color: #fff;
    transition: all 0.5s ease;
    border: 2px solid white;
}

#page2 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 110vh;
    width: 100%;
    background-color: #1341c0;
    position: relative;
    padding: 0px 60px;
    color: white;
}

#page2 h2 {
    font-weight: 100;
    margin: 18px 0px;
}

#page2 h1 {
    width: 80%;
    font-size: 3.5vw;
    line-height: 1.3;
}

#page3 {
    height: 100vh;
    width: 100%;
    position: relative;
}

#page3 canvas {
    max-height: 100vh;
    max-width: 100%;
    /* position: relative; */
}

#page4 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #1341c0;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#page4 h1 {
    margin-left: 15vw;
    font-size: 3.3vw;
    font-weight: 500;
}

#page4 h3 {
    width: 70%;
    margin-left: 15vw;
    margin-bottom: 2vw;
    font-size: 1.6vw;
}

#page5 {
    position: relative;
    height: 80vh;
    width: 100%;

}


#page5 canvas {
    position: relative;
    max-width: 100%;
    max-height: 100vh;
}

#page6 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1341c0;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#page6 h3 {
    width: 70%;
    margin-left: 15vw;
    margin-bottom: 2vw;
    font-size: 1.6vw;
}

#page6 h1 {
    margin-left: 15vw;
    font-size: 3.3vw;
    font-weight: 500;
}

#page7 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #1341c0;
    display: flex;
}

.left {
    height: 100%;
    width: 40%;
    position: relative;
}

.left h1 {
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: white;
    line-height: 1;
    margin: 30px;
}

.right {
    height: 100%;
    width: 60%;
    position: relative;
}

.right-center {
    height: 50%;
    width: 85%;
    background-color: red;
    border-radius: 8px;
    position: absolute;
    margin: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(image.jpeg);
    background-size: cover;
}

#page8 {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #1341c0;
}

.right8 {
    height: 100%;
    width: 60%;
    position: relative;
    right: 0%;
    left: 40%;
}

.right8inner {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    border-radius: 40px;
    color: white;
}

.right8inner h1 {
    font-size: 2.3vw;
}

.right8inner p {
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}

#page9 {
    height: 150vh;
    width: 100%;
    background-color: #fff;

}

.container {
    height: 25%;
    width: 100%;
    display: flex;
    padding: 30px 0;
}

#left-cont {
    height: 80%;
    width: 50%;
    margin: 50px 0px;
}

#left-cont img {
    height: 100%;
    width: 80%;
    border-radius: 35px;
    object-fit: cover;
    margin-left: 8vw;

}

#right-cont {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px 0;
    margin-left: 20px;
}

#right-cont h3 {
    padding: 20px 0;
}

#right-cont h1 {
    font-size: 2.5vw;
    font-weight: 800;
}

#heading {
    font-size: 4vw;
    font-weight: 400;
    margin-left: 10vw;
}

#page10 {
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: #0833a8;
}

.page10-inner {
    position: absolute;
    top: 40%;
    right: 10%;
    color: white;
}

.page10-inner h1 {
    font-size: 5vw;
    font-weight: 100;
    padding: 20px;
}

.page10-inner p {
    font-size: 1.3vw;
    padding: 0 20px;
}

#page11 {
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
    padding: 7vw 10vw;
}

#page11 h1 {
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}

#page11 button {
    padding: 18px 30px;
    border: none;
    background-color: #1341c0;
    color: white;
    border-radius: 50px;
    margin-top: 2vw;
    transition: all ease .3s;
    font-weight: 900;
    cursor: pointer;
}

#page11 button:hover {
    background-color: #fff;
    color: blue;
    font-weight: 900;
}

#page12 {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: black;
}

.page12-inner {
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0vw 5vw;
    border-top: 1px solid #fff;
    color: white;
    position: relative;
}

.page12-inner i {
    font-size: 2.5vw;
    color: #fff;
    font-weight: 100;
    position: relative;
    z-index: 999;
}


.page12-inner h1 {
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 999;
}

.center12 {
    height: 0%;
    width: 100%;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .4s;
}

.page12-inner:hover .center12 {
    height: 100%;
}